body {
    text-align: center;        /* gradient */
    background: #faedcd;
    color: #f8f7ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo {

}

#header {
    /* display: flex; /*sets every element to horizontally line up, on own column*/
    /* flex-direction: column; 
    align-items: center; */
}

.bio {
    display: flex;
    flex-direction: column;
    margin: 20px;}

.img-bio {
    width: 200px;
    height: auto;
    margin: 10px 0;
}

#bernese-mountain-dog-img:hover {
    opacity: 0;
    background-image: ('./bella.jpeg');
}




h1, h2, h4, p {
    text-shadow: 0px 0px 1px black; /*adding a outline of the text for readability*/
}

#all-of-us-img {
    width: 450px;
}

#bday-age {
    background: #ffd8be;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #ffd8be;
    padding: 5px 10px;
    border-radius: 5px;
}

.gift-title {
    margin-bottom: 10px;
}

/* The more specific is needed, put it above */
#gift-img-cheers {
    height: 200px;
}

.bella {
    margin: 0 auto;
    background-image: url("./bernese-mountain-dog.png");
    background-size: cover;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
}

#gift-img-happy:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/vitaliy.jpeg");
}

#gift-img-sweet:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#gift-img-genius:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#gift-img-nice:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#gift-img-cheers:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40 auto 20px;
}

who {
    color: white;
}

why {
    color: white;
}

what {
    color: white;
}