body {
    text-align: center;        /* gradient */
    background: #faedcd;
    color: #f8f7ff;
}

h1, h2, h4, p {
    text-shadow: 0px 0px 1px black; /*adding a outline of the text for readability*/
}

#all-of-us-img {
    width: 450px;
}

#bday-age {
    background: #ffd8be;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #ffd8be;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex; /*sets every element to horizontally line up, on own column*/
    flex-direction: column; /*now change into column*/
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

/* The more specific is needed, put it above */
#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 0 auto;
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/gift.png");
    background-size: cover;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
}

#gift-img-happy:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/vitaliy.jpeg");
}

#gift-img-sweet:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#gift-img-genius:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#gift-img-nice:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#gift-img-cheers:hover {
    background-image: url("/Users/myungsanyun/Documents/GitHub/html-css-scrimba/5-birthday-GIFt-site/sweet.jpeg");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40 auto 20px;
}

a {
    color: white;
}